html,
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url(img/BG.jpg);
    background-size: auto;
    background-position: center;
}

input {
    padding: 5px 10px;
    font-size: 16px;
    width: 200px;
    background-image: url(img/BG.jpg);
    border: 3px solid #ccc;
    border-radius: 14px;
    color: white;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.boxes {
    margin-top: 20px;
}

[class^="box-"] {
    user-select: none;
    color: #eee;
    font-size: large;
    background-image: url(img/box.webp);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    vertical-align: bottom;
}

.label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    color: #eee;
}

.value {
    line-height: 50px;
}

.green {
    color: green;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    width: 210px;
    position: absolute;
    background: white;
    z-index: 10;
}

#suggestions div {
    padding: 5px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #eee;
}